<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Of</title>
    <link href="./output.css" rel="stylesheet">
</head>
<body>
    <audio controls id="musicplayer" autoplay control class="fixed bottom-0 left-0 mx-auto w-full mb-5 z-40 ">
        <source src="./assets/backsound.ogg" type="audio/ogg">
        <source src="./assets/backsound.mp3" type="audio/mpeg">
    
        Sorry, but your browser doesn't support audio.
    </audio>
    
    <!-- <audio id="musicplayer" autoplay >
        <source src="/src/assets/backsound.mp3" type="audio/mpeg">
    </audio> -->
    
        <section class="overflow-x-hidden"> 
    
            <!-- Banner -->
            <div class="h-screen w-screen absolute z-20 flex flex-col justify-center ">
                <div class="mt-auto mb-36 ml-10">
                    <p class="text-white text-3xl align-middle font-vibes mb-2">The Wedding Of</p>
                    <p class="text-white font-prata leading-snug font-bold text-6xl ">Daniel & Stefani</p>
                    <p class="text-white text-xl font-cour">Rabu, 04 Oktober 2023</p>
                </div>
            </div>
            <div class="w-screen h-screen bg-black absolute opacity-60 z-10"></div>
            <div class="w-screen h-screen mb-12 bg-center bg-black overflow-hidden">
                <video class="w-screen h-full object-cover object-center" src="./assets/vid2.mp4" autoplay loop poster="./assets/12.jpg" playsinline>
                    <!-- <source src="./assets/vid2.mp4" type="video/mp4"> -->
                </video>
            </div>
            
            <!-- Ayat Alkitab -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 px-4 lg:pl-10 items-center">
                <div class="image w-full h-96 lg:h-screen bg-[url('./assets/daniel.JPG')] bg-cover rounded-3xl bg-center">
                </div>
                <div class="ayat justify-center">
                    <p class="leading-8 text-xl text-center font-raleway italic">"Sebab pada awal dunia, Allah menjadikan mereka laki-laki dan perempuan, sebab itu laki-laki akan meninggalkan ayahnya dan ibunya dan bersatu dengan isterinya, sehingga keduanya itu menjadi satu daging. Demikianlah mereka bukan lagi dua, melainkan satu. Karena itu apa yang dipersatukan Allah, Tidak boleh diceraikan oleh Manusia"</p>
                
                    <div class="grid grid-cols-3 items-center mt-6">
                        <hr class="border-black">
                        <p class="text-center font-cour">Markus 10:6-8</p>
                        <hr class="border-black">
                    </div>
                </div>
            </div>
    
            <!-- Pengantin -->
            <div class="foto mt-8 px-4 mb-8">
                <hr class="mb-8">
                <p class="text-center text-lg font-cour">Kindly honor us with your presence at the marriage ceremony of...</p>
                
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 items-center mt-8">
                    <img src="./assets/5.jpg" alt="" class="w-80 mx-auto h-80 rounded-full object-top object-cover">
                    <div>
                        <p class="text-black font-cour text-4xl lg:text-6xl text-center">Stefani Dwi Hardiyanti</p>
                        <p class="text-center text-lg font-bold font-raleway mt-4">Putri kedua dari</p>
                        <p class="text-center font-raleway">Suyadi (Alm) & Enny Puspandari  </p>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-5 mt-9 mb-8 items-center">
                    <hr>
                    <p class="text-center font-dance text-3xl">&</p>        
                    <hr>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 items-center mt-8">
                    <img src="./assets/4.jpg" alt="" class="w-80 mx-auto h-80 rounded-full object-cover object-top">
                    <div>
                        <p class="text-black font-cour text-4xl lg:text-6xl text-center">Daniel Oktafian Kalele</p>
                        <p class="text-center text-lg font-bold font-raleway mt-4">Putra pertama dari</p>
                        <p class="text-center font-raleway">Yan Piet Kalele & Duwi Esti Wahyuningsih</p>
                    </div>
                </div>
            </div>
    
            <!-- Save the Date -->
            <div>
                <div class="w-screen h-fit bg-black absolute opacity-60 z-10"></div>
                <div class="h-full w-full tanggal absolute  z-20">
                        <div class="py-7 w-screen  z-20 flex flex-col justify-center text-center mt-10">
                            <p class="text-white text-5xl align-middle font-vibes mb-8">Save The Date</p>
                            <div class="w-full text-center">
                                <div class="grid grid-cols-2 md:flex text-center gap-6 self-center">
                                    <div>
                                        <div class="px-5 py-2 border-2 border-white rounded-xl">
                                            <p id="day" class="text-white text-4xl"></p>
                                        </div>
                                        <p class="text-white font-bold text-xl mt-1">Days</p> 
                                    </div>
                                    <div>
                                        <div class="px-5 py-2 border-2 border-white rounded-xl">
                                            <p id="hours" class="text-white text-4xl"></p>
                                        </div>
                                        <p class="text-white font-bold text-xl mt-1">Hours</p> 
                                    </div>
                                    <div>
                                        <div class="px-5 py-2 border-2 border-white rounded-xl">
                                            <p id="minutes" class="text-white text-4xl"></p>
                                        </div>
                                        <p class="text-white font-bold text-xl mt-1">Minutes</p> 
                                    </div>
                                    <div>
                                        <div class="px-5 py-2 border-2 border-white rounded-xl">
                                            <p id="seconds" class="text-white text-4xl"></p>
                                        </div>
                                        <p class="text-white font-bold text-xl mt-1">Seconds</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="mb-auto text-center lg:grid lg:grid-cols-2">
                                <div class="px-8 py-6 bg-black mx-6 mt-7 rounded-xl">
                                    <div class="image w-full h-48 bg-[url('./assets/9.jpg')] bg-cover rounded-2xl bg-center mb-6"></div>
                                    <h2 class="text-white font-prata text-2xl">Holy Matrimony</h2>
                                    <p class="text-white text-lg mb-4 font-raleway mt-3">Rabu, 04 Oktober 2023</p>
                                    <hr class="mb-3">
                                    <p class="text-white font-raleway mt-3">Jam : 12:00 WIB s/d Selesai</p>
                                    <p class="text-white font-raleway mt-3">Kapel Graha Bethany Nginden</p>
                                    <p class="text-white font-raleway mt-3">Jl. Nginden Intan Timur I no. 29</p>
                                    <p class="text-white mb-6 font-raleway mt-3">Surabaya</p>
                                    <a href="https://goo.gl/maps/tEKXapGxT8tbZwfV7" target="_blank" class="bg-yellow-600 font-bold text-white px-4 py-2 rounded-md font-raleway mt-3">See Location</a>
                                </div> 
                                <div class="px-8 py-5 bg-black mx-6 mt-7 rounded-xl">
                                    <div class="image w-full h-48 bg-[url('./assets/2.jpg')] bg-cover rounded-2xl bg-center mb-6"></div>
                                    <h2 class="text-white font-prata text-2xl">Resepsi</h2>
                                    <p class="text-white text-lg mb-4 font-raleway mt-3">Rabu, 04 Oktober 2023</p>
                                    <hr class="mb-3">
                                    <p class="text-white font-raleway mt-3">Jam : 16:00 WIB s/d 21:00 WIB</p>
                                    <p class="text-white font-raleway mt-3 mb-6">Jl. Margorukun IX/10, Surabaya</p>
    
                                    <a href="https://maps.app.goo.gl/ZRjRP1kBqR6XeBE8A?g_st=iw" target="_blank" class="bg-yellow-600 font-bold text-white px-4 py-2 rounded-md font-raleway mt-3">See Location</a>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="w-full h-screen bg-[url('./assets/datebg.JPG')]  bg-cover bg-center"></div>
                    <div class="w-screen h-screen bg-black absolute opacity-60 z-10"></div>
                    <div class="w-full h-screen bg-[url('./assets/11.jpg')]  bg-cover bg-top"></div>
            </div>
    
            <!-- Gallery -->
            <div class="gallery mt-28 mb-12 ">
                <p class="text-5xl align-middle font-vibes mb-8 text-center">Gallery</p>
                <div>
                    <div class="px-9 grid grid-cols-8 grid-rows-8 gap-4">
                        <figure class="img-gal col-start-1 col-end-3 row-start-1 row-end-3">
                            <img src="./assets/13.jpg" alt="" class="w-full h-full object-cover ">
                        </figure>
                
                        <figure class="img-gal  col-start-3 col-end-5 row-start-1 row-end-3">
                            <img src="./assets/6.jpg" alt="" class="w-full h-full object-cover">
                        </figure>
                
                        <figure class="img-gal  col-start-5 col-end-9 row-start-1 row-end-4">
                            <img src="./assets/7.jpg" alt="" class="w-full h-full object-cover object-top">
                        </figure>
                
                        <figure class="img-gal  col-start-1 col-end-5 row-start-3 row-end-[10]">
                            <img src="./assets/14.jpg" alt="" class="w-full h-full object-cover">
                        </figure>
                
                        <figure class="img-gal  col-start-5 col-end-9 row-start-4 row-end-[10]">
                            <img src="./assets/10.jpg" alt="" class="w-full h-full object-cover">
                        </figure>
                
                
                    </div>
                </div>
            </div>
    
            <!-- Pesan -->
            <div class="pesan mt-20 mb-12">
                <p class="text-5xl align-middle font-vibes mb-8 text-center">Kirim Pesan</p>
                <div>
                    <div class="px-9">
                        <form @submit.prevent="inputData">
                            <div>
                                <label for="name" class="font-raleway">Nama</label>
                                <input type="text" name="name" id="name" class="w-full border border-black mt-3 px-4 py-2 rounded-2xl" v-model="nama">
                            </div>
                            <div class="mt-6">
                                <label for="name" class="font-raleway">Pesan</label>
                                <textarea type="text" name="name" id="name" class="w-full border border-black mt-3 px-4 py-2 rounded-2xl" rows="4" v-model="pesan"></textarea>
                            </div>
                            <button type="submit" class="mt-5 px-5 py-2 bg-black text-white rounded-xl" >Kirim Pesan</button>
                        </form>
                    </div>
                </div>
            </div>
    
    
            <!-- List Pesan -->
    
            <div class="py-9 px-8 bg-black h-96 overflow-scroll">
        <!-- <List></List> -->
        
                <h2 class="text-white font-vibes text-5xl text-center">Pesan Kerabat</h2>
                <div  class="mb-7 px-4 py-3 rounded-lg border-2 border-white mt-6" v-for="msg in mssg" :key="msg.id">
                    <h3 class="text-xl font-prata font-bold mb-4 text-white">{{msg.nama}}</h3>
                    <p class="font-raleway text-white">{{msg.pesan}}</p>
                </div>
            </div>
    
    <!-- Ucapan Terimakasih -->
    <div class="">
        <div class="absolute px-8 py-7 text-center z-30" >
            
            <p class="text-lg font-cour text-black ">Kami yang berbahagia. Keluarga besar kedua mempelai</p>
            <h2 class="text-5xl font-dance font-bold mt-5 text-black">Daniel & Stefani</h2>
            <p class="text-lg font-cour text-black mt-5">Atas Kehadiran dan Doa Restunya <br> Kami Ucapkan Terimakasih</p>
        </div>
    
        <div class="w-screen h-72 bg-white absolute opacity-70 z-10"></div>
        <div class="w-full h-72 bg-[url('./assets/12.jpg')]  bg-cover bg-top"></div>
    </div>
        </section>

        <script>
            var countDownDate = new Date("Oct 4, 2023 12:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    // document.getElementById("day").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
    document.getElementById("day").innerHTML = days;
    document.getElementById("hours").innerHTML = hours;
    document.getElementById("minutes").innerHTML = minutes;
    document.getElementById("seconds").innerHTML = seconds;

    // If the count down is finished, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
        </script>
</body>
</html>